body{
    background-color: rgb(153, 210, 191);
    text-align: center;
    margin: 25px;
}

nav{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    border: white;
}

.modules-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}