.dashboard-actions {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.add-module-btn {
    background: #e4f4ef;
    padding: 15px 25px;
    border-radius: 12px;
    border: 2px dashed #4b8d78;
    font-weight: bold;
    color: #0c2b25;
    text-decoration: none;
    transition: 0.3s;
}

.add-module-btn:hover {
    background: #d3efe4;
    transform: scale(1.03);
}
