body {
    font-family: Arial, sans-serif;
    background-color: #b2d3b3;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #8e00b9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    color: #210422
}

.book {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 225px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    text-align: left;
}

.book a {
    font-family: Arial, sans-serif;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px 8px;
    border: 1px solid #888;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px; /* зменшує розмір тексту */
    color: #2d2d2d;
    background-color: #f7f7f7;
    transition: 0.3s;
    vertical-align: middle; /* вирівнює по вертикалі */
}

.book a:hover {
    background-color: #ddd;
    color: #000;
}

/* опціонально – щоб точно йшли в ряд */
.book .actions {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap; /* якщо екран вузький – переноситимуться */
}

