<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Моя бібліотека</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Моя бібліотека</h1>

    <!-- список книг -->
    <div class="container">
        {% for book in books %}
            <div class="book">
                <p><b>{{ book.title }}</b></p>
                <p><strong>Автор:</strong> {{ book.author }}</p>
                <p><strong>Сторінок:</strong> {{ book.pages }}</p>
                <p><strong>Статус:</strong> {{ book.status }}</p>
                <a href="{{ url_for('edit_book', id=book.id) }}">✏️ Редагувати</a> 
                <a href="{{ url_for('delete_book', id=book.id) }}" onclick="return confirm('Видалити книгу?')">🗑 Видалити</a>
            </div>
        {% endfor %}
    </div>

        <!-- форма для додавання -->
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Назва книги" required>
        <input type="text" name="author" placeholder="Автор" required>
        <input type="number" name="pages" placeholder="Сторінок" required>
        <select name="status">
            <option value="Прочитано">Прочитано</option>
            <option value="Не прочитано">Не прочитано</option>
        </select>
        <button type="submit">Додати</button>
    </form>

</body>
</html>
